<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= titulo %>
    </title>
    <%- include('partes/head')%>
</head>

<body>

    <%- include('partes/navegacion')%>

        <header
            style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
            <img src="/img/logotipo_1.jpg" alt="" style="width: 25%; border-radius: 50%; margin-bottom: 20px;">
            <div style="text-align: center;">
                <a href="/acerca"
                    style="display: inline-block; padding: 10px 20px; background-color: black; color: white; text-decoration: none; border-radius: 5px; border: none; text-align: center; font-size: 16px; transition: background-color 0.3s, color 0.3s;"
                    onmouseover="this.style.backgroundColor='#817B04'; this.style.color='black';"
                    onmouseout="this.style.backgroundColor='black'; this.style.color='white';">Acerca de</a>
            </div>
        </header>





</body>

</html>